@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Mitr:400,500,600,700&display=swap');
@import './animation.scss';

$color-primary: #2C2C2C;
$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Quicksand', sans-serif;

body , html {
    font-family: $font-primary;
    scroll-behavior: smooth;
}

.page-content {
    margin: 0 auto;
    max-width: 1024px;
    padding: 3.75rem 1rem;
}

// .section-header {
//     text-align: center;
//     font-size: 4rem;

//     @media only screen and (max-width: $bp-small) {
//         font-size: 3rem;
//     }

//     &:hover {
//         transform: scale(1.1);
//         transition: transform .3s;
//     }
// }

section {
    padding: 5%;
}