@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

// COLOR VARIABLES
$color-primary: #00de72;

// FONT VARIABLES
$font-primary: 'Quicksand', sans-serif;
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;   // 800px
$bp-small: 37.5em;  // 600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    line-height: 1.6;
    background-color: #eee;
}

.container {
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 1088px) {
    .container {
        max-width: 960px;
        width: 960px;
    }

.container.is-fluid {
        margin-left: 64px;
        margin-right: 64px;
        max-width: none;
        width: auto;
    }
}

@media screen and (max-width: 1279px) {
    .container.is-widescreen {
        max-width: 1152px;
        width: auto;
    }
}

@media screen and (max-width: 1471px) {
    .container.is-fullhd {
        max-width: 1344px;
        width: auto;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1152px;
        width: 1152px;
    }
}

@media screen and (min-width: 1472px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}