section {
    padding: 5%;
}

.header {
  height: 100vh;
  font-size: 2rem;
  background-color: $color-primary;
  padding: 1.5rem 3rem;
  font-weight: 700;
  color: $color-white;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: linear-gradient(
      to right,
      rgba(56, 70, 77, 0.85),
      rgba(15, 19, 20, 0.85)
    ),
    url("~@/assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
      
  
  @media screen and (max-width: 660px) {
    .container {
      display: none;
    }
  }
  
  .top-nav {
    &__menu {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__item {
      list-style: none;
      border-bottom: 3px solid #eee;
      text-transform: uppercase;

      border-color: transparent;
      transition: border-color 0.2s;

      animation-name: moveInTop;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    &__item:hover {
      color: currentColor;

      & > .top-nav__link:after,
      & > .top-nav__link:before {
        width: 50%;
      }
    }

    &__link {
      color: currentColor;
      text-decoration: none;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        right: 50%;
        width: 0;
        height: 4px;
        background-color: $color-white;
        transition: 0.2s;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 4px;
        background-color: $color-white;
        transition: 0.2s;
      }
    }
  }
  
  .information {
    padding-top: 6rem;
    @media only screen and (max-width: $bp-small) {
      padding-top: 0;
    }
    text-align: center;

    .name {
      font-size: 6rem;
      text-transform: uppercase;
      position: relative;
      line-height: 1.1;
      @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
      }

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    .border--short {
      width: 30rem;
      border-bottom: 5px solid currentColor;
      position: absolute;
      margin-top: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }

    .position {
      margin-top: 2rem;
      font-size: 5rem;
      @media only screen and (max-width: $bp-small) {
        font-size: 3.5rem;
      }

      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
  
    background-image: linear-gradient(
        to right,
        rgba(50, 60, 65, 0.85),
        rgba(21, 26, 27, 0.85)
      ),
      url("~@/assets/img/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
    .profile-pic {
      width: 20em;
      height: 20rem;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
  
      background-image: url("~@/assets/img/profile.jpg");
      background-size: cover;
      background-position: center;
    }
    .profile-info {
      margin-top: 2rem;
      .name {
        font-size: 3.5rem;
        text-align: center;
  
        @media only screen and (max-width: $bp-small) {
          font-size: 2.75rem;
        }
      }
  
      p {
        font-size: 2.5rem;
        text-align: justify;
        @media only screen and (max-width: $bp-small) {
          font-size: 1.75rem;
        }
      }
  
      .contact {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 2rem;
        @media only screen and (max-width: $bp-small) {
          font-size: 1.75rem;
        }
  
        .social {
          margin: 2rem 0;
          &-link {
            color: $color-white;
            &:nth-child(2) {
              margin: 0 2rem;
            }
          }
        }
      }
    }
}